*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family:Georgia, serif;
    background:linear-gradient(to right,#dbeafe,#f0f9ff);
}

/* Header */
header{
    background:#003366;
    color:white;
    text-align:center;
    padding:30px;
}

header h1{
    font-size:45px;
}

header p{
    margin-top:10px;
    font-size:20px;
}

/* Banner */
.banner img{
    width:100%;
    height:300px;
    object-fit:cover;
}

/* Main Container */
.container{
    width:85%;
    margin:40px auto;
    background:white;
    padding:30px;
    border-radius:20px;
    box-shadow:0px 0px 20px lightgray;
}

.container h2{
    text-align:center;
    color:#003366;
    margin-bottom:30px;
    font-size:35px;
}

/* Table */
table{
    width:100%;
    border-collapse:collapse;
    text-align:center;
}

th{
    background:#00509d;
    color:white;
    padding:20px;
    font-size:20px;
}

td{
    padding:18px;
    border-bottom:1px solid lightgray;
}

/* Alternate Row Colors */
tr:nth-child(even){
    background:#f4f8ff;
}

tr:hover{
    background:#dbeafe;
    transition:0.4s;
}

/* Footer */
footer{
    background:#003366;
    color:white;
    text-align:center;
    padding:20px;
    margin-top:40px;
}

/* Decorative Border */
.container{
    border-top:8px solid orange;
    border-bottom:8px solid skyblue;
}